<?php

/*
	vboxadm options
	default config last updated in version 2009-11-12
*/

$vboxadm_config = array();

// PEAR database DSN for performing the query
// change this to your vexim database info, e.g.
//    mysql://vexim:password@localhost/vexim
$vboxadm_config['db_dsn'] = 'mysql://USERNAME:PASSWORD@SERVER/DATABASE';

// Use the same $cryptscheme as in vexim config/variables.php (either 'des' or 'md5')
$vboxadm_config['vexim_cryptscheme'] = 'md5';

// Maxlength of autoresponder message, defaults to 255 characters. You probably want to
// extend this limit. If so, you must change the vacation field in users table in
// vexim database structure from VARCHAR(255) to TEXT. Also set $max_vacation_length
// in vexim config/variables.php to get the same limit there.
$vboxadm_config['vexim_vacation_maxlength'] = 255;

/*
	Support for the Exim/Vexim customizations described on
	http://axel.sjostedt.no/misc/vexim/
*/
// Set this to true if you have added the custom crypted password hack to Vexim/Exim
$vboxadm_config['crypted_password_hack'] = false;
// Set this to true if you have added the auto spam folder transporters to Vexim/Exim
$vboxadm_config['movespam_transporter'] = false;
// Set this to true if you have added the parsefolders shell script
$vboxadm_config['parsefolders_script'] = false;
$vboxadm_config['parsefolders_script_show_tip'] = true; // Show notice about learnasspam folders

// Show a link to Vexim if the user is registered as domain admin
$vboxadm_config['show_admin_link'] = true;
// Vexim link URL, relative to Roundcube or external
$vboxadm_config['vexim_url'] = '../vexim/';

?>
