<?php

/*
	vboxadm options
	default config last updated in version 2009-11-12
*/

$vboxadm_config = array();

// allow weak passwords
$vboxadm_config['vboxadm_allow_weak_password'] = false;

// minimun weak password length
$vboxadm_config['vboxadm_min_weak_password_length'] = 6;

$vboxadm_config['vboxadm_vacation_maxlength'] = 25500;

// Show a link to vboxadm if the user is registered as domain admin
$vboxadm_config['show_admin_link'] = true;

// Shared-secret API key
$vboxadm_config['api_key'] = '';

// API location
$vboxadm_config['api_url'] = '';

?>
