[default]
dbuser=vboxadm
dbpass=vboxadm
dbdb=vboxadm
dbhost=localhost
domain=domain.tld
mail_location=/var/vmail

# config for webfrontend
[cgi]
pwscheme=ssha256
no_ssl=1
base_url=/cgi-bin/vboxadm.pl
media_prefix=

# config for vacation autoresonder
[vacation]

notify_interval=7

[awl]
ignore_net=192.168.
only_domain=domain.tld
mailserver = postfix
lifetime = 365
logfile = /var/log/mail.log
whitelist = /etc/postfix/maps/whitelist

[mailarchive]
dbuser=vboxadm_ma
dbpass=vboxadm_ma
dbdb=vboxadm_ma
dbhost=vbxoadm_ma
enabled=0
allow=127.0.0.1

[notify]
logfile=/var/log/mail.log

# config for smtpproxy
[smtpproxy]
nodb=0
soft_bounce=0
caching=1
listen=localhost:10024
connect=localhost:10025
pidfile=/var/run/vboxadm/sa.pid
logfile=/var/log/vboxadm/sa.log
user=vboxadm
group=vboxadm
max_msg_size=25
childtimeout=60

# SpamAssassin
# max. msg size for scanning in MB
sa_max_msg_size=10
# timeout for scanning
sa_timeout=30
sa_default_block_score=6.31
sa_default_status=1

# db
#dbuser=vboxadm
#dbpass=vboxadm
#dbdb=vboxadm
#dbhost=localhost

# server information
min_servers=20
max_servers=80
min_spare_servers=10
max_spare_servers=20
max_requests=250
nsloglevel=2
logsock=unix
