[default]
dbuser=vboxadm
dbpass=vboxadm
dbdb=vboxadm
dbhost=localhost

[cgi]
pwscheme=sha256
# ssh256

[vacation]
# config for vacation autoresonder
#dbuser=vacation
#dbpass=vacation
#dbdb=vboxadm
#dbhost=localhost
notify_interval=604800

[smtpproxy]
caching=1
# config for smtpproxy
listen=localhost:10024
connect=localhost:10025
pidfile=/var/run/vboxadm-smtpproxy.pid
user=vboxadm
group=vboxadm
max_msg_size=25
childtimeout=60

# SpamAssassin
# max. msg size for scanning in MB
sa_max_msg_size=10
# timeout for scanning
sa_timeout=30

# db
#dbuser=vboxadm
#dbpass=vboxadm
#dbdb=vboxadm
#dbhost=localhost

# server information
min_servers=20
max_servers=80
min_spare_servers=10
max_spare_servers=20
max_requests=250
nsloglevel=2
logsock=unix